<a href="https://colab.research.google.com/github/leee2682/Quiz/blob/main/Quiz%2001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nums = [100, 200, 300, 400, 500]

del nums[3:]
print(nums)

[100, 200, 300]

In [ ]:
l = [200, 100, 300]

l.insert(2, 1000)
print(l)

[200, 100, 1000, 300]

In [ ]:
l = [100, 200, 300]

print(type(l))

<class 'list'>

In [ ]:
a = 1
print(type(a))

a =2.22
print(type(a))

a='p'
print(type(a))

a = [1, 2, 3]
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [ ]:
a=10
b=2

for i in range(1, 5, 2):
  a += i

print(a + b)

16

In [ ]:
None    거짓
1       참
""      거짓
0       거짓
bool(0) 거짓
[1,2,3] 참
[]      거짓
()      거짓
{}      거짓

SyntaxError: ignored

In [ ]:
age = 1
a = 1
as = 1
_age = 1
1age = 1

SyntaxError: ignored

In [ ]:
d = {'a':100, 'a':5}

In [ ]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day, sep='/', end=' ')
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

In [ ]:
n = int(input())
for i in range(1, n + 1):
  print(" " * (n - i) + "*" * (2 * i - 1))

4
   *
  ***
 *****
*******

In [ ]:
n = int(input("몇단짜리 크리스마스 트리를 만들까요?"))

for i in range(1, n * 2, 2):
  print((" " * ((n * 2 - 1 - i) // 2)) + ("*" * i))

몇단짜리 크리스마스 트리를 만들까요?5
    *
   ***
  *****
 *******
*********

In [ ]:
s = 0

for i in range(1,101):
  s = s + i

print(s)

5050

In [ ]:
class Wizard:
  def __init__(self, health, mana, armor):
    self.health = health
    self.mana = mana
    self.armor = armor
  def attack(self):
    print("파이어볼")

x = Wizard(health = 545, mana = 210, armor = 10)
print(x.health, x.mana, x.armor)
x.attack()

545 210 10
파이어볼

In [ ]:
n = int(input())
x = ["수성", "금성", "지구", "화성", "목성", "토성", "천왕성", "해왕성"]
print(x[n - 1])

dic = {1:'수성',2:'금성',3:'지구',4:'화성',5:'목성',6:'토성',7:'천왕성',8:'해왕성'}
dic[n]

3
지구

'지구'

In [ ]:
n = int(input())

if n % 3 == 0:
  print("짝")
else:
  print(n)

6
짝

In [ ]:
n = input()

print("안녕하세요. 저는 %s 입니다." %n)
print("안녕하세요. 저는 {} 입니다." .format(n))

sdfadsaf
안녕하세요. 저는 sdfadsaf 입니다.
안녕하세요. 저는 sdfadsaf 입니다.

In [ ]:
s = input()
r = ''

for i in s:
    r = i + r

print(r)

ㅁㄴㅇㄹㄴㅇㅁ
ㅁㅇㄴㄹㅇㄴㅁ

In [ ]:
s = input()
print(s[::-1])

ㄴㅁㅇㄹ
ㄹㅇㅁㄴ

In [ ]:
x = int(input())

if x >= 150:
  print("Yes")
else:
  print("No")

140
No

In [ ]:
a, b, c = input(' ').split()
l = [a,b,c]

#리스트 요소들 정수->숫자로 변환한 뒤 다시 리스트에 넣기
for cha in l :
  if type(cha) is str :
    l.append(int(cha)) 
    
del l[:int(len(l)/2)]  #리스트 앞쪽에 위치한 기존 문자형 요소 삭제해 인트형 요소 가진 리스트로 만들기


print(round(sum(l) / len(l))) #요소를 다 합해서 요소 갯수로 나눈 뒤 반올림

 30 20 40

TypeError: ignored

In [ ]:
a, b = map(int,input().split())
print(a**b)

2 1
2

In [ ]:
n = list(map(int, input().split())) # 입력받은걸 " " 기준으로 나눠서 리스트로 저장
print(n[0] ** n[1])

3 2
9

In [ ]:
n = list(map(int, input().split()))
print(n[0] // n[1], n[0] % n[1])

4 2
2 0

In [ ]:
x = {1, 2, 3, 4, 5, 6, 7}
print(type(x))

x = {}
print(type(x))

x = set('python')
print(type(x))

x = set(range(5))
print(type(x))

x = set()
print(type(x))

<class 'set'>
<class 'dict'>
<class 'set'>
<class 'set'>
<class 'set'>

In [ ]:
i % 6 == 0    나머지가 0이면

1

In [ ]:
print(10/2)

5.0

In [ ]:
n = input()
n.upper()

# print(input().upper())

sadf

'SADF'

In [ ]:
def circle(n):
  return n * n * 3.14

circle(int(input()))

1

3.14

In [ ]:
planet = {
    '수성': 'Mercury',
    '금성': 'Venus',
    '지구': 'Earth',
    '화성': 'Mars',
    '목성': 'Jupiter',
    '토성': 'Saturn',
    '천왕성': 'Uranus',
    '해왕성': 'Neptune',
}

try:
  a = input()
  print(planet[a])
except KeyError:
  print('찾을 수 없는 행성입니다.')

# print(planet.get(input()))

지구
Earth