<a href="https://colab.research.google.com/github/leee2682/Quiz/blob/main/Quiz_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
################# 문제 27 #################

key = input().split()
value = map(int, input().split())

print(dict(zip(key, value)))

asdf asd as
123 12 1
{'asdf': 123, 'asd': 12, 'as': 1}

In [ ]:
# 숫자로 입력 받아서 처리

a = map(int,input().split())

print(a)

70 100
<map object at 0x7f59f78b61d0>

In [ ]:
a = [1,2,3,4]
b = [100,200,300,400]

print(list(zip(a,b)))

[(1, 100), (2, 200), (3, 300), (4, 400)]

In [ ]:
################# 문제 28 #################

txt = input()

for i in range(len(txt) - 1):

  print(txt[i], txt[i+1], sep='')

Python
Py
yt
th
ho
on

In [ ]:
################# 문제 29 #################

Eng = input()

if Eng.isupper():
    print("Yes")
else:
    print("No")

f
No

In [ ]:
# isupper 대문자인지 확인
# islower 소문자인지 확인
# isdigit 숫자인지 확인

# ord ascll 코드 값을 확인 65 A   90 Z
# chr

In [ ]:
# ord

txt = input()

if ord(txt) >= 65 and ord(txt) <= 90:
  print("Yes")
else:
  print("No")

Z
Yes

In [ ]:
# cha

txt = input()

if txt >= chr(65) and txt <= chr(90):
  print("Yes")
else:
  print("No")

In [ ]:
################# 문제 30 #################

# index = 값이 없으면 오류 출력
# find = 값이 없으면 -1 출력

a = input()
b = input()
a.index(b)

pineapple is yummy
apple

4

In [ ]:
################# 문제 31 #################
# 다음 리스트의 내장함수의 시간 복잡도가 O(1)이 아닌것은? 3
# O(1) = 한번에 떨어지는 값

# 1) l(i)
# 2) l.append(5)
# 3) l[a:b]
# 4) l.pop()
# 5) l.clear()

In [ ]:
################# 문제 32 #################
# 문자열을 입력 받으면 단어의 갯수를 출력하는 프로그램

a = input().split()

print(len(a))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [ ]:
################# 문제 32-2 #################

txt = input().strip()
a = list(txt.split())

print(len(a))

저 넓은 세상을 네 눈앞에 그려봐 네 진심을 느껴봐
9

In [ ]:
################# 문제 33 #################
# 한 줄에 여러개의 숫자가 입력되면, 역순으로 그 숫자들을 하나씩 출력하는 프로그램을 작성하시오.

txt = input()                             # 1 2 3 4 5
txt2 = list(txt.split())                  # ['1', '2', '3', '4', '5']
txt3 = [int(i) for i in txt2]             # [1, 2, 3, 4, 5]

for i in range(len(txt3)-1, -1, -1):
  print(txt3[i], end = ' ')

1 2 3 4 5
5 4 3 2 1

In [ ]:
# pop()

a = list(input().split())

for i in range(0, len(a)):
  print(a.pop(), end = ' ')

1 2 3 4 5
5 4 3 2 1

In [ ]:
################# 문제 34 #################
# 키가 주어지면 순서대로 섰는지 확인하는 프로그램

num1 = input()                          # 1 2 3 5 4
num2 = num1.strip().split()             # ['1', '2', '3', '5', '4']
num3 = [int(i) for i in num2]           # [1, 2, 3, 5, 4]
num4 = sorted(num3)                     # [1, 2, 3, 4, 5]

print(num1)
print(num2)
print(num3)
print(num4)

if num3 != num4:
  print("NO")
else:
  print("YES")

1 2 3 5 4
1 2 3 5 4
['1', '2', '3', '5', '4']
[1, 2, 3, 5, 4]
[1, 2, 3, 4, 5]
NO

In [ ]:
# <list>.sort()를 사용하면 원본 리스트 자체의 순서를 변화 시킨다.
# soted(<list>)를 사용하면 정렬된 새로운 리스트를 반환 받는다.

# <list>.sort()는 새로운 복사본을 만들지 않기 때문에
# sorted(<list>)보다 빠르다.

list = [1, 3, 2]
print(list.sort())
print(list)

list = [1, 3, 2]
print(sorted(list))
print(list)

None
[1, 2, 3]
[1, 2, 3]
[1, 3, 2]

In [ ]:
################# 문제 36 #################
# 1~9까지의 숫자중 하나를 입력하면 그 단의 구구단 결과를 한 줄에 출력하는 프로그램을 작성하세요.

n = int(input())

for i in range(1, 10):

  print(n*i,end = " ")

5
5 10 15 20 25 30 35 40 45

In [ ]:
################# 문제 37 #################
# 학생들이 뽑은 후보들을 입력받으면 뽑힌 학생의 이름과 받은 표 수를 출력하는 프로그램

a = input().split()
b = list(set(a))

max = 0

for i in range(len(b)):                       # 0, 1, 2
  if a.count(b[i]) > a.count(b[max]):
    max = i

    # 채연의 개수 2 > 채연의 개수 2
    # 은비의 개수 4 > 채연의 개수 2     max = 1
    # 원영의 개수 2 > 은비의 개수 4     max = 1

print('%s(이)가 총 %d표로 반장이 되었습니다.' %(b[max],a.count(b[max])))

# print(a)['원영', '원영', '은비', '은비', '은비', '은비', '채연', '채연']
# print(b)['채연', '은비', '원영']

# 원영 원영 은비 은비 은비 은비 채연 채연

원영 원영 은비 은비 은비 은비 채연 채연
은비(이)가 총 4표로 반장이 되었습니다.

In [ ]:
# count 함수
# 기본 문법 : 변수.count(찾는 값)

# a = 'ooyyy'
# a.count('y')

# b = 'ox o x oxoxoxo'
# b.count('ox')

a = [1, 1, 1, 2, 3]
a.count(1)

3

In [ ]:
################# 문제 39 #################
# 문장이 입력되면 모든 q를 e로 바꾸는 프로그램을 작성해 주세요.

txt = input()
print(txt.replace('q', 'e'))

qyertyqq ereqqrweq    qe
eyertyee ereeerwee    ee

In [ ]:
################# 문제 41 #################
# 소수인지 아닌지 판별하는 프로그램 *****

a = int(input())                    # 숫자를 입력 받는다.
re = 0                              # re 변수 초기화

for i in range(1, a + 1):           # 반복문 (그 수까지)
  if a % i == 0:                    # 조건 : 입력 받은 수를 반복해서 그 수 앞에 모든 수로 나눈 나머지 값이 0이면
    re += 1                         # re 값을 하나씩 증가

if re == 2:                         # re 값이 2면
  print("Yes")                      # Yes
else:                               # 아니면
  print("No")                       # No

4
No

In [142]:
################# 문제 44 #################
# 입력한 숫자들의 합

# print(sum(map(int, input())))

n = list(map(int,input()))
sum = 0
for i in n:
  sum += i

print(sum)

sum = 0
for i in input():
  sum += int(i)

print(sum)

1234567891011121314151617181920
102
123
6

In [213]:
################# 문제 46 #################
# 1부터 20까지의 (20 포함) 모든 숫자를 일렬로 놓고 모든 자릿수의 총 합을 구하시오.

sum = 0

for i in range(1, 21):
  print(i, end = '')

  for j in str(i):
    sum += int(j)

print(sep = '')
print(sum)

1234567891011121314151617181920
102

In [207]:
################# 문제 46 - 2 #################

sum = 0

for i in str(random.randrange(100,300)):
  print(i,end = '')

  for j in str(i):
    sum += int(j)

print(sep = '')
print(sum)

8